include data

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title UI kit
		link(rel='stylesheet' href='../../commonUI.css')
		script(src='../../index.js')
	body
		.logo
			svg(width='48.000000', height='48.000000', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
				path#Vector(d='M23.99 32.47C23.22 32.47 22.58 31.83 22.58 31.05C22.58 25.62 18.14 21.17 12.7 21.17C11.92 21.17 11.29 20.54 11.29 19.76C11.29 18.98 11.92 18.35 12.7 18.35C19.72 18.35 25.41 24.03 25.41 31.05C25.41 31.83 24.77 32.47 23.99 32.47Z', fill='#1F2041', fill-opacity='0.250000', fill-rule='nonzero')
				path#Vector(d='M36.7 19.76C36.7 20.54 36.07 21.17 35.29 21.17C31.94 21.17 28.94 22.87 27.17 25.44C26.78 24.45 26.33 23.54 25.76 22.69C28.09 20.01 31.51 18.35 35.29 18.35C36.07 18.35 36.7 18.98 36.7 19.76Z', fill='#1F2041', fill-opacity='0.250000', fill-rule='nonzero')
				path#Vector(d='M24 48C10.76 48 0 37.23 0 24C0 10.76 10.76 0 24 0C37.23 0 48 10.76 48 24C48 37.23 37.23 48 24 48ZM24 2.82C12.31 2.82 2.82 12.31 2.82 24C2.82 35.68 12.31 45.17 24 45.17C35.68 45.17 45.17 35.68 45.17 24C45.17 12.31 35.68 2.82 24 2.82Z', fill='#1F2041', fill-opacity='0.250000', fill-rule='nonzero')
		
		.colors-types
			.colors__wrapper
				- for (var i = 0; i < 7; i++)
					.colors__img
					.colors__desc
						p !{name[i]}
						p !{color[i]}
			.types__wrapper
				- for (var i = 0; i < 4; i++)
					.types__item
						p !{sign[i]}
					.types__desc
						p !{desc[i]}





