@import url('../mixins/label/label.css');

.textfield__content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.textfield__input {
	width: 320px;
	height: 44px;
	border: 1px solid;
	border-radius: 4px;
	border-color: rgba(31, 32, 65, 0.25);
}

.textfield__input::placeholder {
	display: inline-block;
	font: 14px 'Montserrat Regular', sans-serif;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.25);
	padding-left: 15px;
}

.textfield__input:focus,
.textfield__input:hover {
	border-color: rgba(31, 32, 65, 0.5);
}

.textfield__input:focus::placeholder,
.textfield__input:hover::placeholder {
	color: rgba(31, 32, 65, 0.75);
}
