@import url('~normalize.css');
@import url('fonts.css');
@import url('../src/components/textfield/textfield.css');

* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 24px;
}

.content {
  margin: 145px 140px;
}

.logo__svg {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 48px;
}

/* Colors and Types*/
.colors {
  display: flex;
  width: 1132px;
  justify-content: space-between;
}

.colors__wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 40px;
  width: 281px
}

.colors__img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: rgb(31, 32, 65);
}

.colors__desc p {
  font-size: 19px;
  line-height: 9px;
  color: rgba(31, 32, 65, 1);
}

.types__wrapper {
  display: flex;
  flex-direction: column;
  gap: 51px;
  width: 436px;
}

.types__item {
  display: flex;
  justify-content: space-between;
}

.types__item p {
  margin: 0;
}

p.types__sign {
  width: 37px;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
}

p.types__desc {
  width: 369px;
}

p.types__desc, .colors__desc p:first-child {
  font-family: 'Montserrat Bold', sans-serif;
  color: rgba(31, 32, 65, 1);
}

.types__item:nth-child(1) {
  font-size: 24px;
  line-height: 29px;
}

.types__item:nth-child(2) {
  font-size: 19px;
  line-height: 23px;
}

.types__item:nth-child(3) {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.types__item:last-child .types__desc {
  font-family: 'Montserrat Regular', sans-serif;
  color: rgba(31, 32, 65, 0.75);
}

.form_elements {
  margin: 140px auto;
}

