@import url('~normalize.css');
@import url('fonts.css');

body {
  width: 1440px;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;
  color: #1F2041BF;
  line-height: 24px;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 48px;
}

/* Colors and Types position*/
.colors-types {
  display: flex;
  width: 1132px;
  margin: 145px auto;
  justify-content: space-between;
}

.colors__wrapper {
  display: flex;
  flex-direction: column;
}

.types__wrapper, .colors__form {
  display: flex;
  justify-content: space-between;
}

.types__wrapper li {
  list-style-type: none;
}

.types__wrapper ul {
  margin: 0;
  padding: 0;
}

.types__item li {
  color: rgba(31, 32, 65, 0.25);
}

.types__desc li {
  font-family: 'Montserrat Bold', sans-serif;
  color: rgb(31, 32, 65);
}

.types__desc li:last-child {
  font-family: 'Montserrat Regular', sans-serif;
  color: rgba(31, 32, 65, 0.75);
}

.colors__img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: rgb(31, 32, 65);
}

h1 {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 24px;
  color: rgb(31, 32, 65);
  line-height: 29px;
}

