doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title UI-Kit
		link(rel='stylesheet' href='common.css')
		script(src='index.js')
	body
		h1 This one is the sub-section or widget title
		p
			| This is the body text which is used for most of the design, like paragraphs, lists, etc.
		h2 This is the end
		h3 This is good