body {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 14px;
  color: #1F2041BF;
  line-height: 24px;
}

h1 {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 24px;
  color: #1F2041;
  line-height: 29.26px;
}


